<div>
  <H1>Sobre Mi</H1>
  <h4 #h4aboutMe class="h4aboutMe">
    Soy Yarod Bonilla, un desarrollador full stack con habilidades tanto en
    frontend como en backend, especializado en tecnologías como JavaScript,
    TypeScript, Node.js, React, Angular 17 y PostgreSQL. Mi formación incluye un
    bootcamp en Henry, donde trabajé en proyectos que abarcaron desde
    plataformas de comercio electrónico hasta sistemas de gestión de servicios
    profesionales, aplicando principios de diseño, patrones eficientes y
    metodologías ágiles. Actualmente, estoy cursando Ingeniería Mecatrónica en
    la Universidad ECCI, lo que me ha permitido combinar el mundo del software
    con el hardware, fortaleciendo mi capacidad de análisis, resolución de
    problemas y pensamiento lógico. Mis motivaciones incluyen el aprendizaje
    continuo, la curiosidad por nuevas tecnologías y el deseo de mejorar cada
    día como desarrollador. Me encanta colaborar en equipos multidisciplinarios,
    donde puedo aportar con mi creatividad y habilidades técnicas, al mismo
    tiempo que aprendo de los demás. En mi tiempo libre, disfruto explorar
    nuevas herramientas de programación, contribuir en proyectos open-source y
    mantenerme al día con las últimas tendencias en desarrollo web. Mi objetivo
    es seguir creciendo profesionalmente, enfrentando desafíos que me permitan
    crear soluciones innovadoras y de alto impacto.
  </h4>
  <div class="containerAbout">
    <div #containerAboutR class="containerh4AboutR">
      <a href="#" (click)="carrerTraining()"
        ><h2>Trayectoria y Formacion</h2></a
      >
      <div #InfoContainerAboutR class="InfoContainerAboutR">
        <button (click)="backAbout()" class="btnBackAbout"></button>
        <h5>
          Graduado del bootcamp de Henry como desarrollador full stack y
          estudiante de Ingeniería Mecatrónica en la Universidad ECCI.
        </h5>
      </div>
    </div>
    <div #containerAboutC class="containerh4Aboutc">
      <a href="#" (click)="technicalSkill()"><h2>Habilidades Tecnicas</h2></a>
      <div #InfoContainerAboutC class="InfoContainerAboutC">
        <button (click)="backAbout()" class="btnBackAbout"></button>
        <h5>
          Experiencia en. Desarrollo de APIs RESTful, JWT,
          <br />
          <div>
            <img
              src="Logos/LogoAngular.png"
              alt=""
              width="80px"
              height="80px"
            />
            <img src="Logos/LogoCSS.png" alt="" width="80px" height="80px" />
            <img src="Logos/LogoHTML.png" alt="" width="80px" height="80px" />
            <img src="Logos/LogoJava.png" alt="" width="80px" height="80px" />

            <img src="Logos/LogoNode.png" alt="" width="80px" height="80px" />
            <img
              src="Logos/LogoPostgre.png"
              alt=""
              width="80px"
              height="80px"
            />
            <img src="Logos/LogoReact.png" alt="" width="80px" height="80px" />
            <img src="Logos/LogoType.png" alt="" width="80px" height="80px" />
            <h5>autenticación con</h5>
            <img src="Logos/LogoJwt.png" alt="" width="80px" height="80px" />
          </div>
          <h5>y trabajo con bases de datos relacionales.</h5>
        </h5>
        <br />
      </div>
    </div>
    <div #containerAboutL class="containerh4AboutL">
      <a href="#" (click)="motivationsInterest()"
        ><h2>Motivaciones e Interes</h2></a
      >
      <div #InfoContainerAboutL>
        <button (click)="backAbout()" class="btnBackAbout"></button>
        <h5>
          Apasionado por el aprendizaje continuo y por crear soluciones
          escalables e innovadoras. Me encanta colaborar en equipo y enfrentar
          desafíos tecnológicos que me permitan crecer.
        </h5>
      </div>
    </div>
  </div>
</div>
