<h1>mas importantes</h1>
<div class="containerAll">
  <div class="containerProyect">
    <h1>Plataforma comercio electronico (E-Commerce)</h1>
    <h3>
      Descripción: Desarrollo de una plataforma para la compra y venta de
      productos en línea.
    </h3>
    <h3>
      Tecnologías usadas: React, Redux, Tailwind CSS, Node.js, PostgreSQL.
    </h3>
  </div>
  <div class="containerProyect">
    <h1>Sistema de Servicios Profesionales</h1>
    <h3>
      Descripción: Aplicación para publicar y postularse a empleos en servicios
      profesionales.
    </h3>
    <h3>Tecnologías usadas: Node.js, Express, PostgreSQL, Cloudinary.</h3>

    <iframe
      width="560"
      height="315"
      [src]="sanitizedVideoUrl"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    >
    </iframe>
  </div>
</div>
