<form>
  <h4>
    Si deseas contactarme deja tu mensaje y tu correo electronico o si quieres
    en lo siguientes links
  </h4>
  <a class="imgLogo" href="https://www.facebook.com/yarod.ruiz/" target="_blank"
    ><img src="/logoFace.png" alt=""
  /></a>
  <a
    class="imgLogo"
    href="https://wa.me/+573134398489?text=Hola,%20quiero%20saber%20más.
      "
    target="_blank"
    ><img src="/logoWhat.png" alt=""
  /></a>
  <a
    class="imgLogo"
    href="https://www.linkedin.com/in/yarod-bonilla-808a24198/"
    target="_blank"
    ><img src="/logoLinkedin.png" alt=""
  /></a>
  <div class="mb-3">
    <div class="mb-3">
      <label for="message" class="form-label">Mensaje</label>
      <input type="text" class="form-control" id="message" />
    </div>
    <label for="exampleInputEmail1" class="form-label"
      >Correo electronico</label
    >
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
    />
    <div id="emailHelp" class="form-text">
      We'll never share your email with anyone else.
    </div>
  </div>

  <button type="submit" ref="" class="btn btn-primary">Enviar mensaje</button>
</form>
