:host{
    color: white;
    text-align: center;
}
h4{
    margin: 2rem;
}
a{
    margin:1rem;
}
.mb-3{
 text-align: center;
}
label{
    margin: 3rem;
}
input{
    margin-left: 35%;
    width: 30rem;
}