
.navbar navbar-expand-lg bg-body-tertiary{
    background-color: black;
}
.socialNetworks{
    display: flex;
    padding-right: 5rem;
}
.navbar-toggler-icon{
    background-image: url('/toggler-icon.png');
    border-color: white;
  }
.imgLogo{
    margin-left: 1rem;
}
