<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand">Yarod Bonilla</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/']"
            routerLinkActive="router-link-active"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/about']"
            routerLinkActive="router-link-active"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/contact']"
            routerLinkActive="router-link-active"
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="socialNetworks">
    <a
      class="imgLogo"
      href="https://www.facebook.com/yarod.ruiz/"
      target="_blank"
      ><img src="/logoFace.png" alt=""
    /></a>
    <a
      class="imgLogo"
      href="https://wa.me/+573134398489?text=Hola,%20quiero%20saber%20más.
      "
      target="_blank"
      ><img src="/logoWhat.png" alt=""
    /></a>
    <a
      class="imgLogo"
      href="https://www.linkedin.com/in/yarod-bonilla-808a24198/"
      target="_blank"
      ><img src="/logoLinkedin.png" alt=""
    /></a>
  </div>
</nav>

<router-outlet />
