<h1>Yarod Bonilla</h1>
<h5>(Construyendo el futuro una línea de código a la vez.)</h5>
<h6>/</h6>
<h4>Hola! Soy Yarod Bonilla, un apasionado desarrollador full stack</h4>
<h4>con experiencia en tecnologías como JavaScript, TypeScript,</h4>
<h4>Node.js, React, Angular 17 y PostgreSQL. Actualmente, cu-</h4>
<h4>-rso Ingeniería Mecatrónica en la Universidad ECCI, com-</h4>
<h4>-binando mi interéspor la tecnología con la programación.</h4>
<h4>He trabajado en proyectos académicos y personales que</h4>
<h4>me han permitido desarrollar tanto el backend como el</h4>
<h4>frontend de aplicaciones web. Me motiva aprender nu-</h4>
<h4>-evas tecnologías, trabajar en equipo y enfrentar desa-</h4>
<h4>-fíos con creatividad y pensamiento crítico. Mi obje-</h4>
<h4>-tivo es seguir creciendo como profesional en un</h4>
<h4>entorno colaborativo,aportando soluciones efici-</h4>
<h4>-entes y escalables. ¡Estoy listo paracontribuir</h4>
<h4>con mi energía y habilidades en nuevos</h4>
<h4>proyectos!</h4>
