<h1>Yarod Bonilla</h1>
<h5>(Construyendo el futuro una línea de código a la vez.)</h5>
<h6>/</h6>
<div class="pyramid-text">
  <h4>Hola!. Soy Yarod Bonilla, un apasionado desarrollador full stack</h4>
  <h4>con experiencia en tecnologías como JavaScripts, TypeScripts,</h4>
  <h4>Node.js, React, Angular 17 y PostgreSQL. Actualmente, cu-</h4>
  <h4>rso Ingeniería Mecatrónica en la Universidad ECCI, com-</h4>
  <h4>binando mi interés por la tecnología con la programa-</h4>
  <h4>ción. He trabajado en proyectos académicos y per-</h4>
  <h4>sonales que me han permitido desarrollar tanto.</h4>
  <h4>el backend como el frontend de aplicaciones</h4>
  <h4>web memotiva aprender nuevas tecnologías</h4>
  <h4>trabajar en equipo y enfrentar desafíos con</h4>
  <h4>creatividad y pensamiento crítico. Mi ob-</h4>
  <h4>jetivo es seguir creciendo como profesi-</h4>
  <h4>onal en un entorno colaborativo, apor-</h4>
  <h4>tando soluciones efectivas y escalab-</h4>
  <h4>les. ¡Estoy listo para contribuir </h4>
  <h4>con mi energía y habilidades</h4>
  <h4>en nuevos proyectos!</h4>
</div>
